

.Images {
    display: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 50px;

    .mainImage {
        background-color: rgb(199, 176, 176);
        height: 520px;
        width: 700px;
       
        margin-right: 20px;
    }

    .secondImage {
        height: 540px;
        width: 700px;
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        display: flex;




        .smallImg {
            background-color: antiquewhite;
            margin: 10px;
            margin-bottom: 20px;

            margin-top: 0;
            height: 250px;
            width: 250px;
            display: flex;
        }


    }

}